html{
    padding: 0px;
    margin: 0px;
    height: 150px;    
}

body{
    background-color: rgb(200, 242, 242);
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: flex;
}

#imagen{
    width: 600px;
    height: 400px;
    padding-left: auto;
    padding-right: auto;
}

#titulo{
    font-size: 3em;
}

#resultado{
    font-size: 2em;
}

h1,h2,p{
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

p{
    font-size: 1.5em;
}

#ganar{
    background-color: antiquewhite;
}

button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}